In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('train.csv')
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
from sklearn.preprocessing import LabelEncoder
for column in data.columns:
    column_type = data[column].dtype
    if column_type == 'object':  
                data[column] = LabelEncoder().fit_transform(data[column])
    elif column_type == 'int64' or column_type == 'float64':
            data[column] = data[column].fillna(data[column].mean())

In [4]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,3,4,4,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,3,4,4,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,3,4,4,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,2,3,3,0,...,0,3,4,4,0,8,2007,8,4,175000
1456,1457,20,3,85.0,13175,1,2,3,3,0,...,0,3,2,4,0,2,2010,8,4,210000
1457,1458,70,3,66.0,9042,1,2,3,3,0,...,0,3,0,2,2500,5,2010,8,4,266500
1458,1459,20,3,68.0,9717,1,2,3,3,0,...,0,3,4,4,0,4,2010,8,4,142125
1459,1460,20,3,75.0,9937,1,2,3,3,0,...,0,3,4,4,0,6,2008,8,4,147500

In [8]:
x = data.drop(['SalePrice'],axis = 1)
y = data['SalePrice']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,0,3,4,4,0,2,2008,8,4
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,0,3,4,4,0,5,2007,8,4
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,0,3,4,4,0,9,2008,8,4
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,0,3,4,4,0,2,2006,8,0
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,0,3,4,4,0,12,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,2,3,3,0,...,0,0,3,4,4,0,8,2007,8,4
1456,1457,20,3,85.0,13175,1,2,3,3,0,...,0,0,3,2,4,0,2,2010,8,4
1457,1458,70,3,66.0,9042,1,2,3,3,0,...,0,0,3,0,2,2500,5,2010,8,4
1458,1459,20,3,68.0,9717,1,2,3,3,0,...,0,0,3,4,4,0,4,2010,8,4
1459,1460,20,3,75.0,9937,1,2,3,3,0,...,0,0,3,4,4,0,6,2008,8,4

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print("X_train:",x_train.shape)
print("X_test:",x_test.shape)
print("Y_train:",y_train.shape)
print("Y_test:",y_test.shape)

X_train: (1168, 80)
X_test: (292, 80)
Y_train: (1168,)
Y_test: (292,)

In [15]:
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([ 220756.91903354,  171303.93973366,   98089.81961124,
        214496.2746434 ,   94311.8965668 ,   81998.88953967,
        237174.34119909,  139909.86807208,  431569.07956673,
        163102.78164442,  194499.04401226,  -49549.71072138,
        252369.60961729,  110512.26198928,  122067.94903465,
        139160.7458203 ,  238580.53340151,  116490.28520768,
        131251.43402847,  173076.84608204,  142279.04349523,
        157104.09505863,   78352.45661567,  152154.27117074,
        200352.89787132,  193633.21404988,  170698.93080512,
         65296.9216342 ,  353074.31531273,  114454.13290442,
        134655.84766486,  214415.49136673,  149227.05289821,
        283368.93011552,  312905.34416097,  188086.87326275,
        303236.70373461,  111269.99529672,  230168.19974109,
        334530.58205951,  214330.03987085,  100427.10365677,
        201746.87580885,  294708.18353084,  336400.97387623,
        121182.01073722, -113476.58307272,  112019.67368696,
        172043.30833097,   82714.36507145,  395669.68726856,
        142768.29453698,  182531.83260351,   62019.28724179,
        241269.39332465,   93991.56049755,  108305.64109987,
        232253.72290414,  136489.77806094,   89368.09455638,
        133692.49912747,  116275.18110147,  127418.87488173,
        144696.20922895,  225855.12590457,  171614.63303762,
        126704.07906311,  216142.6096105 ,  130793.13631355,
        209015.13795214,  194125.4133567 ,  189263.18498098,
         63512.96940088,  244885.79921516,   67992.56696791,
        253967.36032672,  117742.16194211,  119264.87301235,
        286832.10775702,  159276.44779551,  124133.93229605,
        123512.58851406,  127154.2057021 ,  147354.8772988 ,
        238206.09123222,  204196.37208755,   88107.30638456,
        198346.33541945,  162274.54037054,  130596.63202816,
        178006.48838782,  183482.94959991,  173700.01003355,
        236465.23534513,  205191.3544685 ,  152289.55862666,
        221717.39980891,  180048.20376449,  100466.66385422,
        156849.41739609,  262540.90370079,  209254.07294441,
        126612.2202465 ,  140489.15638672,  106459.71067478,
        266029.32870944,  182074.7761874 ,   76872.26516889,
        179871.03851948,  133150.20432484,   89658.54642806,
        105529.38190624,  185098.00839456,  136214.38793294,
        189997.89721831,  162481.62378801,  403084.29204461,
        118282.70610512,  224985.6419189 ,  259814.86591655,
        166958.61334319,  153342.30425319,  123996.31067774,
        199713.25556508,  233758.32935011,  283824.46202499,
        356916.24050901,  197262.22581743,  203769.42048965,
        172276.53264328,  181213.86459904,  203387.08219445,
        144265.54814065,  213724.48527703,   64903.51086769,
        225789.76612837,  148162.06048579,  163689.30754205,
         94043.68207745,  186794.53745737,  143618.08721986,
        113743.15343924,  224090.77443589,  164043.61128796,
        139707.07236087,  172116.2670159 ,  219923.57696181,
        141392.74631314,  307528.44015246,  244716.03233572,
        188375.82854476,  371511.92692498,  287816.0347892 ,
        169044.18142394,  177038.85633536,  279370.40238495,
        127081.33710627,  197680.96508082,  139002.6163493 ,
        169074.04196476,   98426.02201529,  133592.47053312,
        193871.91729583,   94935.2567065 ,  221653.59657426,
        148092.51615041,  148649.03940976,  282916.07129314,
        213148.67209961,  158681.73251412,  181946.23203499,
        160615.64148951,  205237.39002488,  176526.82129385,
        119999.0087937 ,   96441.48275592,  122606.37906598,
        251770.86967431,  146319.72505739,  126818.41091607,
        292491.21922455,  182965.52169067,  136775.25767415,
        286749.0763307 ,   99800.24127362,  197433.77166535,
         91478.95071876,  215502.17534401,  220185.76190719,
        148980.1144387 ,  133962.68215948,  180938.09966973,
        202146.08195947,  139674.28201442,  182586.8071955 ,
        149277.08199452,   59043.73371951,  132496.55793703,
        176086.55173536,  116239.54398856,  113290.18662356,
        198310.9299867 ,  101047.93286202,  113118.64227503,
        123129.3672272 ,  222406.64749685,  168130.02663188,
        322055.24954579,  252300.94276118,   36382.29351517,
        155426.09898836,  258630.25849353,   41078.81543683,
         98626.10693602,  366872.81589235,  211752.90830475,
        181374.1818758 ,  279354.89172359,  242826.55600724,
         77187.66299556,  202030.69155698,  135739.54306568,
        148054.76359437,  116970.01291014,  193426.3406304 ,
        268490.9900891 ,  227756.27012449,  231818.00440846,
        141322.85697883,  156248.86447537,   51031.2313539 ,
        174775.09254737,   92451.23181235,  143844.68750442,
        246448.67370238,  131026.12288336,  123273.23648955,
        120915.21230518,   77593.23745931,  181866.74356581,
        117103.63777503,  172773.89766084,  209156.64564757,
        215838.84592549,  199865.92761847,  165937.03437723,
        208429.07328857,  195217.60238447,  136368.65263708,
        213442.45991962,  185133.39754488,  263240.9696307 ,
        104067.88948569,  407181.38188609,  229401.85954417,
        234683.26612668,  111904.97115846,  230175.1318077 ,
        449742.71250862,  813438.02254597,  201779.80170252,
        108284.25112777,  136147.43838179,   49347.34731994,
        331943.06065067,  341569.40166333,  339932.7928159 ,
       -161323.05077898,  225620.26938389,  240661.00051083,
        125460.39792318,  237429.89992052,  135158.29851739,
        172056.49281266,  117935.5266471 ,  242091.30742174,
        235664.92979426,  170438.37001635,  217968.39833983,
        127808.66807436,  114742.94576038,  344384.23871986,
        151707.36065709,  135312.65277137,  208235.85135337,
        169847.83243767,  125973.80521419,  277514.48933473,
        438474.32024988,  207985.21906506,  102612.16164471,
        106794.25691054])

In [17]:
Accuracy=r2_score(y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

 Accuracy of the model is 56.27